<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- content - values from server.js:41-42 -->
    <meta property="title" content="{{title}}" />
    <meta property="description" content="{{description}}" />
    <title>{{title}}</title>
  </head>
  <body>
    <script>
      // This code loads the web-sdk API code asynchronously
      // and create queue in global var window.IASReady.
      window.IASReady = (function (d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0],
          st = window.IASReady || {};
        if (d.getElementById(id)) return st;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://sdk.inappstory.com/v2.7.6/dist/js/IAS.js";
        js.async = true;
        fjs.parentNode.insertBefore(js, fjs);
        st._e = [];
        st.ready = function (f) {
          st._e.push(f);
        };
        return st;
      })(document, "script", "ias-wjs");

      // 3. This function creates an StoryManager instance (and SharePage widget)
      //    after the API code downloads.
      window.IASReady.ready(function () {
        const storyManagerConfig = {
          apiKey: "{{apiKey}}",
          userId: "user", // usually - hash from real user identifier
          lang: "eng",
        };

        // StoryManager singleton instance
        const storyManager = new window.IAS.StoryManager(storyManagerConfig);

        // AppearanceManager instance
        const appearanceManager = new window.IAS.AppearanceManager();

        // appearance config
        appearanceManager
          .setStoryReaderOptions({
            scrollStyle: "flat",
            sharePanel: {
              targets: ["facebook", "twitter", "linkedin"],
            },
          });

        // Show SharePage
        const sharePage = new storyManager.SharePage(
          "{{storyid}}",
          appearanceManager,
        );

        // clicks on buttons in reader
        storyManager.storyLinkClickHandler = (payload) =>
          console.log({ payload });
      });
    </script>
  </body>
</html>
